.carousel {
  position: relative;
  border: 1px solid #CCC;
  overflow: hidden;
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
}

.carousel img {
  display: block;
}

.images {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 200ms;
  font-size: 0;
}

li {
  display: inline-block;
}

<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.carousel-btn-prev {
  left: 1%;
  .btn;

}

.carousel-btn-next {
  right: 1%;
  .btn;
}


<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
.btn {
  top: 45%;
  position: absolute;
  border: solid 1px grey;
  background: aliceblue;
<<<<<<< Updated upstream
=======
  color: black;
>>>>>>> Stashed changes
  opacity: 0.5;
  font-size: large;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 1vh white;
  }

  &:active {
    opacity: 1;
  }
}

.carousel-control {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
<<<<<<< Updated upstream
=======
  color: black;
>>>>>>> Stashed changes
}

.counter {
  margin-left: 2vw;
<<<<<<< Updated upstream
=======
  margin-right: 1vw;
}

.label-carousel-control {
  margin-top: 1vh;
}

@media only screen and (max-width: 600px) {
 .carousel-control * {
   font-size: 70%;
 }
  .carousel {
    left: 0;
  }
>>>>>>> Stashed changes
}