.users-table * {
  border-collapse: collapse;
  width: 60vw;
  color: black;
  margin: 1vh auto;
  padding: 0.5vh 0.5vw;
}

.users-table th, td {
  border: 1px solid #ddd;
}

.users-table th {
  background-color: #525c6a;
  color: white;
  vertical-align: middle;
  white-space: nowrap
}

.users-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.users-table .align-right {
  text-align: right;
}

.users-table .align-center {
  text-align: center;
}

th .fas {
  margin: 0 0 0 1vw;
  padding: 0;
  color: white;
  width: auto;
  cursor: pointer;

  &:active,
  &:hover {
    color: #75ff56;
  }
}

.avatar-img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0
}

[class ^= "mybtn"] {
  width: auto;
  margin: 0;
}

.mybtn-danger {
  color: white;
}

.add-btn {
  color: white;
  display: block;
  margin-left: 10vw;
  padding: 0.5vh 1.5vw;
}

.add-user-btns {
  display: flex;
  justify-content: center;
}

.row {
  margin-bottom: 2vh;
}

input:focus {
  border: 1px solid #555;
}

.modal input {
  margin: 1vh 1vw;
}

[class^=notification-success] {
  background-color: rgba(0, 255, 0, .8);
  z-index: 2;
}

[class^=notification-error] {
  background-color: rgba(255, 0, 0, .8);
  z-index: 2;
}

.notification-success:before {
  content: 'Отправляю данные на сервер...';
}

.notification-success-res:before {
  content: 'Успешно!';
}

.notification-error:before {
  content: 'Исправьте все ошибки в форме и попробуйте ещё раз';
}

.notification-error-res:before {
  content: 'Ошибка! Не удалось записать данные на сервер';
}

[class^=notification] {
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  max-width: 600px;
  padding: 5px;
  margin: auto;
  text-align: center;
}

.container, .form-img-container {
  display: flex;
}

.container form {
  margin-top: 10px;
}

.container form input {
  margin-bottom: 10px;
  display: block;
}

.form-img-container img {
  height: 50%;
  margin-top: -15%;
  margin-left: 70%;
}

@media only screen and (max-width: 800px) {
  h2, h3, h4 {
    font-size: smaller;
  }
}

@media only screen and (max-width: 600px) {
  h2, h3, h4 {
    font-size: small;
  }

  .form-img-container img {
    margin-top: -5%;
  }
}